:root {
    --background:#242424;
    --page: #2b2b2b;
    --headerText: #bb1c44;
    --text:#DADADA;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Quicksand:wght@300;400;500&display=swap');
html {
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

h1, span {
    font-family: 'Quicksand', sans-serif;
    color: var(--headerText);
    font-weight: 450;
    margin: 0;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--text);
    font-weight: 300;
    margin: 0; 
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

.NavParting {
    display: flex;
    flex-direction: row-reverse;
}

.NavHeadlineBar {
    background-color: var(--page);
    width: 250px;
    height: 400px;
    border-radius: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 190px;
}

#NavList{
    color: var(--text);
    padding: 15px;
}

.NavTitle {
    font-size: 1.5em;
}

.NavItem {
    padding-left: 10px;
    position: relative;
    cursor: pointer;
}
.NavItem:hover{
    color: #bb1c44;
}
.NavItem::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--text);
    left: 0;
    top: 40%;
}

.Container {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.Title {
    margin: 30px 0 10px 0;
    font-size: 3.5em;
}

.Subtitle {
    margin-bottom: 50px;
    font-size: 1.5em;
}

.Page {
    width: 100%;
    background-color: var(--page);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px 60px 30px;
    box-sizing: border-box;
}

.PageTitle {
    margin: 30px 0 0 0;
    font-size: 2.25em;
    text-align: center;
}

.PageSubTitle {
    margin: 30px 0 0 0;
    font-size: 1.75em;
    text-align: left;
}

.Page p {
    margin: 20px 0 0 0;
    font-size: 1.15em;
    line-height: 1.3;
    text-align: justify;
    padding-left: 20px;
}

b {
    text-decoration: underline;
}

.ArtImage {
    width: 60%;
    margin: 20px 0 0 15px
}

.ArtTable {
    margin: 20px 0 10px 20px;
    width: 100%;
    border: 2px solid var(--text);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.ArtTable .ArtRow {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--text);
}
.ArtTable .ArtRow:last-child {
    border-bottom: 0;
}

.ArtTable .ArtRow p {
    border-right: 2px solid var(--text);
    margin: 0;
    padding: 5px 0;
    text-align: left;
}
.ArtTable .ArtRow p:last-child {
    border-right: 0;
}
.ArtTable .ArtRow p:nth-child(1) {
    width: 12.5%;
    text-align: center;
}
.ArtTable .ArtRow p:nth-child(2) {
    width: 35%;
    padding-left: 7.5px;
}
.ArtTable .ArtRow p:nth-child(3) {
    width: 52.5%;
    padding-left: 7.5px;
}

.ArtTable.Shader .ArtRow p:nth-child(1) {
    width: 20%;
    text-align: center;
}
.ArtTable.Shader .ArtRow p:nth-child(2) {
    width: 80%;
    padding-left: 7.5px;
}